/* About.css */
.typing-animation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.typing-animation {
  font-size: 2.5rem;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  color: #ffffff;
  /* border-right: 4px solid rgba(255, 255, 255, 0.75); Simulate cursor */
  display: inline-block; /* Ensure it only takes up the width of the content */
  animation: typing 3s steps(30) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  0% {
    width: 0;
  }
  100% {
    width: 100%; /* The width will now adjust to the text's natural width */
  }
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.typing-animation-container p {
  font-size: 1.5rem;
  margin-top: 20px; /* Add space between the h1 and p */
  font-weight: normal;
  text-align: justify;
  opacity: 0;
  line-height: 2;
  color: #7ffff5; 
  animation: fadeIn 2s forwards 2s; /* Delay to show after typing animation */
}

@keyframes fadeIn {
  0% {
    opacity: 0.2;   }
  100% {
    opacity: 1;
  }
}
@media (max-width: 768px) {
  .typing-animation-container p {
      font-size: 1.2rem;
  line-height:normal;
  /* color: white; */
  padding: 0 10px;
  

}
}