/* Container background and layout */
.container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-color: black;
}

/* SVG wrapper styling */
.svgWrapper {
  position: absolute;
  transform: translate(-50%, -50%);
  pointer-events: none;
}

/* Keyframes for blinking animation */
@keyframes svgBlink {
  0% {
    opacity: 0.6;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.6;
  }
}

.sideanimatedskill{
padding: 0;
margin: 0;
position: absolute;
z-index: 9;
list-style: none;
display: flex;
flex-direction: column;
justify-content: space-between;
height: 100%;
}

/* Dynamic container layout */
.dynamic-container {
  max-width: 100%; /* Allow to grow based on content */
  margin: 0 auto; /* Center the container */
}

/* Max-width for different screen sizes */
@media (min-width: 768px) {
  .dynamic-container {
    max-width: 800px; /* Max width for medium and larger screens */
  }
}

@media (min-width: 992px) {
  .dynamic-container {
    max-width: 960px; /* Max width for large screens */
  }
}

@media (min-width: 1200px) {
  .dynamic-container {
    max-width: 1240px; /* Max width for extra-large screens */
  }
}
